.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Environment variables (except example)
.env
.env.*
!.env.example

# Prisma
/generated/prisma
.vercel

raw-backups/*

data-exports/*
